<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  <h3>Drag your file here or click for browse files</h3>
</div>
<div class="files-list" *ngFor="let file of files; let i= index" [ngClass]="{'not_allowed': file.flag_ext || file.flag_size }">
  <div class="file-content">
    <p>{{ file.name }}: <span>{{ formatSize(file.size) }}</span></p>
    <small *ngIf="file.flag_ext">This file extension is not Allowed</small>
    <small *ngIf="file.flag_size">The file size exceeds the 10 MB limit</small>
  </div>
  <button class="delete-file" (click)="deleteAttachment(i)">
    <img src="../assets/delete.svg">
  </button>
 </div>